.camera-content {
	float: right;
	width: 100%;
	height: 288px;
	color: #FFF;
	text-align: center;
	font-family: Impact, Sans;
	font-size: 32px;
}

.camera-content img {
	float: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.font-eagle {
	color: #FFF;
	font-family: Impact, Sans;
	font-size: 32px;
}

.robot-status {
	float: center;
	color: #FFF;
	text-align: center;
	font-family: Impact, Sans;
	font-size: 32px;
}

#left-speed,
#right-speed,
#load-speed,
#shoot-speed {
	float: right;
	background-color: #000;
	color: #3ECCFB;
	width: 160px;
	font-family: Courier New, Monospace;
	font-size: 16px;
}