.camera-content {
	float: right;
	width: 100%;
	height: 288px;
	color: #FFF;
	text-align: center;
	font-family: Impact, Sans;
	font-size: 24px;
}

.camera-content img {
	float: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.font-eagle {
	color: #FFF;
	font-family: Impact, Sans;
	font-size: 32px;
}

.robot-status {
	float: center;
	color: #FFF;
	text-align: center;
	font-family: Impact, Sans;
	font-size: 24px;
}

#speed,
#direction,
#load-speed,
#shoot-speed,
#arm-angle {
	border-color: rgba(0,0,0,0);
	float: right;
	background-color: #000;
	color: #3ECCFB;
	width: 240px;
	font-family: Courier New, Monospace;
	font-size: 16px;
}

#connection,
#robot-gear {
	border-color: rgba(255,0,0,0);
	background-color:rgba(255,0,0,0);
	float: right;
	color: #3ECCFB;
	width: 220px;
	font-family: Courier New, Monospace;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}