.camera-content {
	float: right;
	width: 100%;
	height: 288px;
	color: #FFF;
	text-align: center;
	font-family: Impact, Sans;
	font-size: 16px;
}

#webcam {
	 position: relative;
	 left: 0px;
	 top: 0px;
}

#webcam-a {
	 position: relative;
	 left: 0px;
	 top: 0px;
}

#crosshair {
	position: absolute;
	left: 300px;
	top: 50px;
}

#crosshair-a {
	position: absolute;
	left: 100px;
	top: 25px;
}

#img-gyro {
	 position: relative;
	 left: 0px;
	 top: 0px;
}

#needle {
	position: absolute;
	left: 0px;
	top: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.font-eagle {
	color: #FFF;
	font-family: Impact, Sans;
	font-size: 20px;
}

.robot-status {
	float: center;
	color: #FFF;
	text-align: center;
	font-family: Impact, Sans;
	font-size: 12px;
}

#load-speed,
#shoot-speed,
#arm-angle,
#gyro-angle {
	border-color: rgba(0,0,0,0);
	float: right;
	background-color: #000;
	color: #3ECCFB;
	width: 180px;
	font-family: Courier New, Monospace;
	font-size: 12px;
}

#faults-list {
	background-color: #000000;
	height: 240px;
}

#faults-1,
#faults-2,
#faults-3,
#faults-4,
#faults-5,
#faults-6,
#faults-7,
#faults-8,
#faults-9,
#faults-10 {
	border-color: rgba(255,0,0,0);
	background-color:rgba(255,0,0,0);
	color: #F00;
	float: right;
	width: 220px;
	font-family: Courier New, Monospace;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#connection,
#robot-gear,
#auton-mode {
	border-color: rgba(255,0,0,0);
	background-color:rgba(255,0,0,0);
	float: right;
	width: 220px;
	font-family: Courier New, Monospace;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
